<div class="wrapper">


  <div class="grid-container">
    <div class="name">
      <h1 class="header">Mein Konto</h1>
      <h2 class="names">Hallo {{display.firstName}} {{display.lastName}}</h2></div>
    <div class="kontostands"><h2 class="kontostand">Aktueller Kontostand: {{display.balance | json}}€</h2></div>

    <div class="content">
      <h2 class="Kontonummer">Kontonummer: {{display.accountNumber}}</h2>
      <h2 class="Email">Emailadresse: {{display.emailAddress}}</h2>
      <h2 class="tele">Telefonnummer: {{display.phoneNumber}}</h2>
    </div>
    <div class="nothing"></div>
  </div>

</div>

