<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Anmelden </h2>
    <h2 class="inactive underlineHover">Registrieren </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <!--Img Tag hier Felix -->
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Passwort">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Passwort vergessen -->
    <div id="formFooter">
      <a class="underlineHover">Password vergessen?</a>
    </div>

  </div>
</div>
</body>
