<body>
<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fa fa-user fa-2x"></i>
    </div>
    <!-- Tabs Titles -->
    <h2 class="active"> Anmelden </h2>
    <h2 class="inactive underlineHover" routerLink="/register">Registrieren </h2>




    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Passwort">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Passwort vergessen -->
    <div id="formFooter">
      <a class="underlineHover">Password vergessen?</a>
    </div>

  </div>
</div>
</body>
